@import '../base/variables.scss';
@import '../base/mixins.scss';

.button {
  border: 2px solid $pink-dark;
  background-color: $white;

  @include breakpoint(mobile) {
    border: 2px solid $purple;
  }
}