@import '../base/variables.scss';
@import '../base/mixins.scss';
@import '../base/ui.scss';

.button-about {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  outline: none;

  .icon {
    font-size: 28px;
    color: $red;
    transition: all 600ms $expo-ease-out;

    &:hover {
      transform: scale(1.1)
    }
  }
}