@import '../base/variables.scss';
@import '../base/mixins.scss';

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  opacity: 0;
  transition: all 800ms $expo-ease-out;
  transform: translateY(30px);
  transition-delay: 1250ms;

  &.isShowing {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  border: 3px solid $red;
  background-color: $white;
  color: $red;
  border-radius: 25px;
  @include size(160px, 55px);  
  text-transform: uppercase;
  transition: all 800ms $expo-ease-out;

  &:hover {
    transform: scale(1.1);
  }

  @include breakpoint(mobile) {
    @include size(150px, 50px);
  }
}