@import '../base/_mixins.scss';
@import '../base/variables.scss';

.egg {
  @include size(80px);
  position: absolute;
  transition: all 800ms $cubic-ease-in;
  z-index: 2;

  &.isOpen {
    transition: all 700ms $quint-ease-out;
  }

  &.hamburger {
    bottom: 20%;
    left: 10%;
    transform: transformY(200%) rotate(10deg);

    &.isOpen {
      transform: transformY(0) rotate(0deg);
    }
  }

  // &.pasta {
  //   right: -30%;
  //   bottom: 20%;
  //   transform: rotate(0deg);

  //   &.isOpen {
  //     right: 15%;
  //     transform: rotate(-10deg);
  //   }
  // }

  // &.pizza {
  //   top: -20%;
  //   left: 40%;
  //   transform: rotate(-10deg);

  //   &.isOpen {
  //     top: 12%;
  //     transform: rotate(10deg);
  //   }
  // }
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}