@import '../base/variables.scss';
@import '../base/mixins.scss';
@import '../base/ui.scss';

.footer {
  @include size(100%, 45px);
  position: absolute;
  bottom: 0;
  padding: 0 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transform: translateY(30px);
  transition: all 800ms $expo-ease-out;
  transition-delay: 1300ms;
  opacity: 0;

  &.isShowing {
    opacity: 1;
    transform: translateY(0);
  }
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}