@import '../base/variables.scss';
@import '../base/mixins.scss';
@import '../base/ui.scss';

.footer {
  @include size(100%, 0);
  position: absolute;
  bottom: 0;
  padding: 0 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 600ms $expo-ease-out;
  transition-delay: 1300ms;

  &.isShowing {
    opacity: 1;
    height: 45px;
  }
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}