@import '../base/variables.scss';
@import '../base/mixins.scss';

.header {
  height: 0;
  padding: 20px;
  background-color: $red;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 600ms $expo-ease-out;
  transition-delay: 300ms;

  &.isShowing {
    opacity: 1;
    height: 200px;

    @include breakpoint(mobile) {
      height: 150px;
    }
  }
}

.title,
.subhead {
  opacity: 0;
  transform: translateY(30px);
  transition: all 800ms $expo-ease-out;
  transition-delay: 700ms;  
  text-align: center;
}

.subhead {
  transition-delay: 900ms;
  margin-top: 20px;

  @include breakpoint(mobile) {
    margin-top: 10px;
  }
}

.isShowing {
  .title,
  .subhead {
    opacity: 1;
    transform: translateY(0);
  }
}