@import '../base/variables.scss';
@import '../base/_mixins.scss';

.popup-container {
  opacity: 0;
  @include size(100%, auto);
  transform: translate3d(0, 50px, 0);
  transition: all 800ms $expo-ease-out;
  z-index: -1;
  position: absolute;
  bottom: 10%;
  padding: 10px;
  left: 20px;

  &.isOpen {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }
}
