@import '../base/_variables.scss';
@import '../base/_mixins.scss';

.recipe-container {
  padding: 0 100px;
  max-width: 500px;
  margin: 50px auto 0;
  transition: all 600ms $expo-ease-out;
  opacity: 0;
  transform: translateY(30px);
  text-align: center;

  &.isShowing {
    opacity: 1;
    transform: translateY(0);
  }

  @include breakpoint(mobile) {
    padding: 0 20px;
    margin-top: 40px;
  }

  @include breakpoint(mobile-s) {
    margin-top: 30px;
  }
}