@import 'variables.scss';

.cta,
.button {
  cursor: pointer;
}

.cta {
  text-decoration: none;
  transition: all 800ms $expo-ease-out;

  &:hover {
    color: $pink-dark;
  }
}

.button {
  outline: none;
  color: $red;
  transition: all 800ms $expo-ease-out;

  &:hover {
    transform: scale(1.1);
  }
}
